# FastAPI et serveur
fastapi==0.112.0
uvicorn==0.30.5

# Data et ML
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.14.0
lightgbm==4.5.0
joblib==1.4.2
threadpoolctl==3.5.0
matplotlib==3.9.1.post1

# Base de données / ORM
SQLAlchemy==2.0.32
sqlparse==0.5.1
alembic==1.13.2

# Validation / Config
pydantic==2.8.2
pydantic_core==2.20.1
PyYAML==6.0.2

# Utilitaires
requests==2.32.3
python-dateutil==2.9.0.post0
setuptools>=65.0.0
wheel>=0.38.4